<canvas id={{customId}} width={{width}} height={{height}}></canvas>
Frame {{frameNum}}
<button {{action 'nextFrame'}}>Next frame</button>
{{yield}}
  <img id="source" src="/img/batguy-sprite.png"
       width="300">
