<div class="comic-panel panel">
{{#each layerItems as |layer|}}
  {{component layer.layerType
              classNames=layer.layerClass
              bgImage=layer.layerImage
              keyFrames=layer.layerKeys
              frameNumber=layer.frameNumber
              options=layer.animationOptions
              frameAction=(action "setKeyFrames")
   }}
{{/each}}
</div>
<div class="mt-1">
  {{#if isPlaying}}
    <button class="pull-right" {{action 'pause'}}>Pause</button>
  {{else}}
    <button class="pull-right" {{action 'play'}}>Play</button>
  {{/if}}
</div> 
Keyframes ready {{keyFrameEffectsReady}}

