<section class="row mt-1">
  {{comic-panel-canvas 
      frameNum=frameNumber 
      totalNumOfFrames=totalNumOfFrames
      isRunning=animationIsRunning
  }}
  <div class="col s12 m3 pull-right mt-1">
    <p class="white-text">Frame {{frameNumber}}</p>
    <button {{action 'incrementFrame'}}>Frame +</button>
    <hr>
    <button {{action 'toggleAnimationPlayState'}}>{{if animationIsRunning 'Pause' 'Play'}}</button>
  </div>
</section>
